#header{
    position: relative;
    width: 100vw;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 3px solid black;
    overflow: hidden;
}

.header-other-image{
    height: 100%;
}

#image1{
    height: 150%;
    transform: translate(0, 20%)
}

#header-image{
    cursor: pointer;
    height: 80%;
    filter: grayscale(45%);

    transition: filter .35s ease-in-out;
}

#header-image:hover{
    filter: none;
}

#nav{
    position: sticky;
    top: 1em;
    z-index: 1;
}

#nav-menu-click{
    cursor: pointer;
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 2vh;
    top: 2vh;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color .35s ease;
}

#nav-menu-click > div{
    height: 20%;
    border-radius: 3px;

    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color .35s ease;
}

#nav-menu-click:hover{
    background-color: rgba(0, 0, 0, .7);
}

#nav-menu-click:hover > div{
    background-color: white;
}

#nav-menu{
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: 2;
    height: 100vh;
    display: flex;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 18pt;
}

#nav-container{
    position: relative;
    width: 40vw;
    height: 100vh;
    background-color: black;
    padding: 1em 1.25em;
}

#nav-close-click{
    cursor: pointer;
    position: absolute;
    right: -2.5vw;
}

#nav-triangle{
    width: 0;
    border-top: 100vh solid black;
    border-right: 5vw solid transparent;
}

#nav-outer{
    position: fixed;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.nav-item{
    margin: 2vh 0;
    color: gainsboro;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 22pt;
}

.nav-item:hover{
    color: white;
}